# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
INSTRUCCIONES_AUTH0.md
PHASE_6_TESTING_COMPLETED.md
SPOTIFY_INTEGRATION_FRONTEND.md
TESTING_STATUS.md
docs/SPOTIFY_INTEGRATION.md
src/components/Auth/DebugAuth.css
src/components/Auth/DebugAuth.jsx
