body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; /* Previene scroll horizontal */
}

.container {
    padding: 2rem; 
    text-align: center;
}