.ultimos-beats-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  text-align: start;
}

.ultimos-beats-list {
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .ultimos-beats-title {
    font-size: 2rem;
    margin-left: 1rem;
  }
}
